[submodule "CronNET"]
	path = CronNET
	url = git@github.com:strandtentje/CronNET.git
[submodule "BCrypt"]
	path = BCrypt
	url = git@github.com:strandtentje/Bcrypt.NET.git
	branch = master
[submodule "Http-Multipart-Data-Parser"]
	path = Http-Multipart-Data-Parser
	url = git@github.com:Vodurden/Http-Multipart-Data-Parser.git
